.row-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.passwords-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    background: #f3f4f6;
}

.passwords-card {
    width: 100%;
    max-width: 1000px;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    background-color: #fff;
}

mat-card-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 600;
    color: #333;
}

mat-form-field {
    width: 100%;
    margin-bottom: 1rem;
}

mat-card-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.passwords-expansion-container {
    width: 90%;
}

.expansion-panel-shards-container {
    display: block;
    white-space: nowrap;
    overflow-x: auto;
}

.copy-div {
    cursor: pointer;
    user-select: none;
    padding: 8px;
    transition: background-color 0.2s ease;
    border-radius: 8px;
}

.copy-div:hover {
    background-color: #ccccc8;
}

.passwords-paginator {
    width: 90%;
    border-radius: 10px;
}

.header-container {
    width: 100%;
    padding-right: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: max-content;
}

mat-card-title {
    margin: 0;
    line-height: normal;
    display: flex;
    align-items: center;
}
