<div class="passwords-container">
    <mat-card appearance="outlined" class="passwords-card">
        <mat-card-header>
            <div class="header-container">
                <mat-card-title>Saved passwords</mat-card-title>
                <div>
                    <button mat-icon-button (click)="addPassword()"
                            style="position: relative; left: 7px;">
                        <mat-icon fontIcon="add"></mat-icon>
                    </button>
                </div>
            </div>
        </mat-card-header>
        <br>
        <mat-divider></mat-divider>
        <br>
        <mat-card-content>
            <div *ngIf="loading" class="spinner-container">
                <mat-spinner [diameter]="25"></mat-spinner>
            </div>
            <mat-list *ngIf="!loading">
                @if (passwords.length !== 0) {
                    @for (entry of paginatedPasswords; track entry.index) {
                        <div class="row-container">
                            <mat-expansion-panel class="passwords-expansion-container">
                                <mat-expansion-panel-header [@.disabled]="true" expandedHeight="50px" collapsedHeight="50px">
                                    <mat-panel-title> {{ entry.value.id }}</mat-panel-title>
                                    <mat-panel-description> {{ entry.value.label }}</mat-panel-description>
                                </mat-expansion-panel-header>
                                <div>
                                    @if (shards[entry.index].length === 0 && selfCustodyShards[entry.index] == 0) {
                                        <button mat-flat-button (click)="getAvailableShards(entry.value.id)">Get stored shards</button>
                                    } @else {
                                        <h4>Available shards:</h4>
                                        <div class="expansion-panel-shards-container">
                                            @for (shard of shards[entry.index]; track shard) {
                                                <div>
                                                    {{ shard }}
                                                </div>
                                            }
                                        </div>

                                        <h4>Required for decryption: {{ Math.max(0, requiredForDecryption[entry.index]) }}</h4>
                                        @if (requiredForDecryption[entry.index] <= 0 && decryptedPassword[entry.index].length == 0) {
                                            <button mat-flat-button (click)="decryptPassword(entry.value.id)">
                                                Decrypt password
                                            </button>
                                        } @else if (decryptedPassword[entry.index].length > 0) {
                                            <p *ngIf="errorDecrypting[entry.index]" style="color: red">There was an error decrypting your password. Refresh the page and make sure all the shards are correct.</p>
                                            <div
                                                *ngIf="!errorDecrypting[entry.index]"
                                                cdkCopyToClipboard="{{decryptedPassword[entry.index]}}"
                                                (cdkCopyToClipboardCopied)="onCopied()"
                                                class="copy-div"
                                                [matTooltip]="tooltipMessage"
                                                matTooltipPosition="right"
                                            >
                                                {{ decryptedPassword[entry.index] }}
                                            </div>
                                        }
                                    }
                                    @if (!(requiredForDecryption[entry.index] <= 0 && decryptedPassword[entry.index].length == 0)
                                    && !(decryptedPassword[entry.index].length > 0)) {
                                        <mat-form-field>
                                            <mat-label>Input</mat-label>
                                            <input matInput [(ngModel)]="this.currentSelfCustodyShard[entry.index]">
                                        </mat-form-field>
                                        <button mat-flat-button
                                                (click)="addSelfCustodyShard(entry.value.id, this.currentSelfCustodyShard[entry.index])">
                                            Add self custody shard
                                        </button>
                                    }
                                </div>
                            </mat-expansion-panel>
                            <button
                                mat-icon-button
                                style="align-content: baseline;
                                color: red" (click)="openDeleteModal(entry.index)">
                                <mat-icon fontIcon="delete_forever"></mat-icon>
                            </button>
                        </div>
                        <br>
                    }
                    <mat-paginator
                        [length]="passwords.length"
                        [pageSize]="pageSize"
                        [pageSizeOptions]="[5, 10, 20]"
                        (page)="onPageChange($event)"
                        class="passwords-paginator">
                    </mat-paginator>
                } @else {
                    <p>You do not have any saved passwords yet!</p>
                }
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>
