<div class="add-password-container">
    <mat-card appearance="outlined" class="add-password-card">
        <mat-card-header>
            <mat-card-title>Add a new password</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-stepper [linear]="true" #stepper>
                <mat-step [stepControl]="firstFormGroup">
                    <form [formGroup]="firstFormGroup">
                        <ng-template matStepLabel>Password details</ng-template>
                        <div class="flexForm">
                            <mat-form-field>
                                <mat-label>Password label</mat-label>
                                <input matInput formControlName="passwordLabel" required>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Number of shards</mat-label>
                                <mat-select formControlName="shardsNo">
                                    <mat-option value="3">3</mat-option>
                                    <mat-option value="5">5</mat-option>
                                    <mat-option value="7">7</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Your password</mat-label>
                                <textarea matInput formControlName="password" required></textarea>
                            </mat-form-field>
                        </div>
                        <div>
                            <button mat-button matStepperNext [disabled]="firstFormGroup.invalid">Next</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="secondFormGroup" label="Distribution information">
                    <form [formGroup]="secondFormGroup">
                        <div class="flexForm">
                            <div>
                                <mat-label>Would you like us to store all of your shards? (not recommended)</mat-label>
                                <mat-radio-group formControlName="storeShards">
                                    <mat-radio-button value="Yes">Yes</mat-radio-button>
                                    <mat-radio-button value="No">No</mat-radio-button>
                                </mat-radio-group>
                            </div>
                            @if ( secondFormGroup.value.storeShards === 'No') {
                                <p *ngIf="majorityServer()" style="color: red;">We strongly recommend you to keep a majority of the shards.</p>
                                <mat-form-field>
                                    <mat-label>How many shards would you like to keep yourself?</mat-label>
                                    <mat-select formControlName="userShards">
                                        @for (i of range; track $index) {
                                            <mat-option value="{{i}}">{{i}}</mat-option>
                                        }
                                    </mat-select>
                                </mat-form-field>
                                <div formGroupName="emailSection" style="width: 100%">
                                    <div formArrayName="emails">
                                        <p>Email addresses that shards will be sent to:</p>
                                        <div
                                            *ngFor="let emailGroup of emails.controls; let i = index"
                                            [formGroupName]="i"
                                            class="email-row">
                                            <mat-form-field appearance="fill" style="width: 45%">
                                                <mat-label>Select email</mat-label>
                                                <mat-select formControlName="choice">
                                                    <mat-option
                                                        *ngFor="let savedEmail of emailRecipients"
                                                        [value]="savedEmail.email"
                                                        (click)="clearCustom(i)">
                                                        {{ savedEmail.email }}
                                                    </mat-option>

                                                    <mat-option value="custom">
                                                        <mat-icon>add</mat-icon>
                                                        Enter a new email…
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="emailGroup.get('choice')!.hasError('required')">
                                                    Please pick or enter an email.
                                                </mat-error>
                                            </mat-form-field>

                                            <mat-form-field
                                                *ngIf="isCustom(i)"
                                                appearance="fill"
                                                class="custom-input"
                                                style="width: 45%">
                                                <input
                                                    matInput
                                                    placeholder="you@example.com"
                                                    formControlName="custom">
                                                <mat-error *ngIf="emailGroup.get('custom')!.hasError('required')">
                                                    Email is required.
                                                </mat-error>
                                                <mat-error
                                                    *ngIf="emailGroup.get('custom')!.hasError('email')
                                                    && !emailGroup.get('custom')!.hasError('required')">
                                                    Invalid email.
                                                </mat-error>
                                            </mat-form-field>

                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div>
                            <button mat-button matStepperPrevious>Back</button>
                            <button mat-button matStepperNext [disabled]="secondFormGroup.invalid">Next</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Recap and Submit</ng-template>
                    <div>Password label: {{firstFormGroup.value.passwordLabel}}</div>
                    <div>Number of shards: {{firstFormGroup.value.shardsNo}}</div>
                    <div>Self custody shards: {{secondFormGroup.value.userShards}}</div>
                    <br>
                    @if (getSelectedEmails().length !== 0) {
                        <div>Email addresses:</div>
                        <div *ngFor="let e of getSelectedEmails()">
                            <div>{{ e }}</div>
                        </div>
                        <br>

                        <form>
                            <p style="color: red;">You will receive the shards as encrypted ZIP files. Please select a password!</p>
                            <mat-form-field>
                                <mat-label>Enter your password</mat-label>
                                <input
                                    matInput
                                    [type]="hide() ? 'password' : 'text'"
                                    required
                                    [formControl]="thirdForm"
                                />
                                <button
                                    mat-icon-button
                                    matSuffix
                                    (click)="clickEvent($event)"
                                    [attr.aria-label]="'Hide password'"
                                    [attr.aria-pressed]="hide()"
                                >
                                    <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
                                </button>
                            </mat-form-field>
                        </form>
                    }
                    <br>
                    <button mat-flat-button
                            [disabled]="thirdForm.invalid && getSelectedEmails().length !== 0"
                            (click)="submitPassword()">
                        Submit
                    </button>

                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button (click)="stepper.reset()">Reset</button>
                    </div>
                </mat-step>
            </mat-stepper>
        </mat-card-content>
    </mat-card>
</div>
