html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-dialog-container {
    width: 700px;
    max-width: 95vw;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
